body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: small;
  color: #424242;
}

hr {
  display: block;
  margin-top: 1em;
  border-style: inset;
  border-width: 1px;
  width: 80%
}

h1, h2, h3, h4, h5, .figure {
  margin: 0;
}

.caption {
  font-style: italic;
  text-align: center;
}

.header {
  max-width: 100%;
  text-align: center;
}

.header-logo {
  padding-top: 5%;
  max-width: 26%;
  text-align: center;
}

.header-text {
  box-sizing: content-box;
  padding-top: 3%;
}

.main {
  box-sizing: border-box;
  margin-top: 1.5em;
  max-width: 100%;
}

.main-container {
  box-sizing: content-box;
  max-width: 100%;
  text-align: center;
}

.content-image-1 {
  width: 68%;
}

.content-image-2 {
  display: none;
}

.section-title {
  padding-top: 2em;
  text-align: center;
}

.sub-main {
  box-sizing: content-box;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub-container {
  box-sizing: content-box;
  padding: 5%;
  width: 45%;
}

.sub-image {
  max-width: 100%
}

.lightning {
  order: 1;
}

.conferences {
  order: 2;
}

.projects {
  order: 3;
}

.footer {
  box-sizing: border-box;
  padding-left: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: inline-block;
  box-sizing: content-box;
  max-width: 33%;
}

.footer-img-link {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10%;
  width: 40px;
  max-width: 100%;
}
