body {
  font-size: medium;
}

hr {
  margin-top: 0.5em;
  border-width: 2px;
}

.header-logo {
  padding-top: 3%;
  max-width: 100px;
}

.header-text {
  width: 66%;
  text-align: right;
}

.sibling {
  display: inline-block;
}

.main {
  margin-top: 3em;
}

/* content image swap when wide screen */

.content-image-1 {
  display: none;
}

.content-image-2 {
  margin: 0;
  display: inline-block;
  width: 80%;
  max-width: 1024px;
}

.sub-main {
  padding-top: 1em;
  width: 100%;
}

.section-title {
  padding-top: 1.5em;
}

@media screen and (max-width: 1281px){
  .sub-container {
    padding: 1.5%;
    width: 24.7%;
  }
}

@media screen and (min-width: 1282px){
  .sub-container {
    padding: 19.234px;
    width: 316.891px;
  }
}
